/* this css page includes font-family and font size*/
/*remember to add backup font*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&display=swap');

/*Header*/

header li {
  font-size: 24px;
  font-size: clamp(20px, 5vw, 30px);
}

ul .jeep {
  font-size: 42px;
}

ul {
  font-family: 'Fjalla One', sans-serif;
}

/*Hero section*/

.hero {
  font-family: 'Fjalla One', sans-serif;
  font-size:24;
  font-size: clamp(20px, 5vw, 32px);
}

.hero p {
  font-size:22px;
  font-size: clamp(20px, 3vw, 24px);
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-size: clamp(14px, 3vw, 24px);
}

/*cards*/

.jeeps {
  font-family: 'Fjalla One', sans-serif;
  font-size:32px;
  font-size: clamp(32px, 3vw, 48px);
}

.card>figcaption>h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size:32px;
  font-size: clamp(32px, 3vw, 38px);
}

.card>figcaption>p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

/*contact*/

.contact li {
  font-size: 28px;
  font-size: clamp(22px, 3vw, 38px);
}

#social {
  font-size: 50px;
}

/*footer*/

footer {
  font-size: 20px;
  font-size: clamp(18px, 3vw, 25px);

  font-family: 'Montserrat', sans-serif;
}

/*media querie*/

@media screen and (max-width: 42.7rem) {
  /*hamburger menu*/
  #hamburger {
    font-size: 40px;
  }
}