/*this css page includes background-image, all things related to colours, padding, text decorations, borders, transitions and cursors.*/


/*main*/
.container {
  background-image: url(../assets/images/jeep-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment:fixed;
}

/*Header +nav bar*/

a {
  padding: 0.5rem;

  text-decoration: none;

  color:  rgb(255,255,255);
}

.list>a:hover {
  background-color: rgb(153, 128, 102);
}

ul {
  background-color: rgb(0,0,0);

  padding: 0.5rem;
}

@media screen and (max-width: 42.7rem) {
  ul li {
    padding:0.5rem;
  }
}

/*Hero section*/

.hero {
  background-color: rgb(255,255,255,0.5);

  padding: 1rem;
}


button {
  cursor: pointer;

  padding: 0.5rem;

  background-color: rgb(153, 153, 102);

  border:none;
  border-radius: 1.5rem;

  transition-duration: 0.5s;
}


button:hover {
  background-color: rgb(153, 128, 102);
}


/*cards*/

.jeeps {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.team {
  background-color: rgb(0,0,0);
}

.card {
  padding: 0.5rem;

  background-color:rgb(153, 153, 102);
  color: rgb(0,0,0);
}

.jeeppics {
/*the very first jeep picture in the cards "makayla, brings tims" is slightly bigger than the others and im not sure how to fix it*/

  width: 100%;
}

/*contact*/

.contact li {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*contact-form*/

form {
  padding: 1rem;

  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

/*gallery*/

.gallery {
  grid-gap: 1rem;

  background-color: rgb(0,0,0);
}

/*footer*/

footer {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);

  padding-top: 1rem;
  padding-bottom:1rem;
}

/*media querie*/

@media screen and (max-width: 42.7rem) {
  /*hamburger menu*/

  /*I still want a header on smaller screens when the hamburger menu pops up but i dont know how*/
.nav-wrapper {
  background-color: rgb(0,0,0);
}

  #hamburger {
    color:rgb(255,255,255);

    padding-right: 0.7rem;
    padding-top: 0.5rem;


    /*added cursor so it's more obviously clickable*/
    cursor: pointer;
  }
}